In [1]:
# Create a Spark session with Iceberg configurations, remember to start docker container ('docker compose up -d', using environment '.venv')

import pyspark
from pyspark.sql import SparkSession
import pandas as pd

# Initialize Spark session with Iceberg configurations
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.8.0') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.iceberg", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.iceberg.type", "hadoop") \
  .config("spark.sql.catalog.iceberg.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

:: loading settings :: url = jar:file:/Users/francescogalli/Desktop/Iceberg_Thesis_Work/.venv/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/francescogalli/.ivy2/cache
The jars for the packages stored in: /Users/francescogalli/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-78a1ddb7-66ff-47a9-8d22-1f577160163b;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.8.0 in central
:: resolution report :: resolve 84ms :: artifacts dl 1ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.8.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-78a1ddb7-66ff-47a9-8d22-1f577160163b
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/3ms)
25/03/26 15:13:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
# See databases in Iceberg catalog

spark.sql("SHOW DATABASES IN iceberg").show()

+-----------+
|  namespace|
+-----------+
|employee_db|
| iceberg_db|
+-----------+

25/03/26 15:13:26 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [18]:
# Make sure we are referring to the correct database without having to write it down every time

spark.sql("USE iceberg.iceberg_db")

DataFrame[]

In [19]:
# See what tables are in the database we are using

spark.sql("SHOW TABLES").show()

+----------+-----------------+-----------+
| namespace|        tableName|isTemporary|
+----------+-----------------+-----------+
|iceberg_db|           table2|      false|
|iceberg_db|             test|      false|
|iceberg_db|           table3|      false|
|iceberg_db|            table|      false|
|iceberg_db|changelog_testing|      false|
+----------+-----------------+-----------+

In [ ]:
# Create a database (redundant)

spark.sql(""" CREATE DATABASE IF NOT EXISTS iceberg_db """)
spark.sql("SHOW DATABASES").show()

+----------+
| namespace|
+----------+
|iceberg_db|
+----------+

In [ ]:
# Create a table

spark.sql("""
          CREATE TABLE IF NOT EXISTS table (
          id INT,
          name STRING,
          added_at TIMESTAMP)
          USING iceberg
          PARTITIONED BY (day(added_at))""")

spark.sql("SHOW TABLES").show()

+----------+---------+-----------+
| namespace|tableName|isTemporary|
+----------+---------+-----------+
|iceberg_db|   table2|      false|
|iceberg_db|    table|      false|
+----------+---------+-----------+

In [ ]:
# Create a table

spark.sql("""
          CREATE TABLE IF NOT EXISTS table2 (
          id INT,
          name STRING)
          USING iceberg
          PARTITIONED BY (id)""")

spark.sql("SHOW TABLES").show()

+----------+---------+-----------+
| namespace|tableName|isTemporary|
+----------+---------+-----------+
|iceberg_db|   table2|      false|
|iceberg_db|    table|      false|
+----------+---------+-----------+

In [ ]:
# Append data into table2

'''
spark.sql("""
          INSERT INTO iceberg.iceberg_db.table2 
          VALUES 
          (1, 'Alice'), 
          (2, 'Bob'), 
          (3, 'Charlie')""")

spark.sql("SELECT * FROM iceberg.iceberg_db.table2").show()

'''

'\nspark.sql("""\n          INSERT INTO iceberg.iceberg_db.table2 \n          VALUES \n          (1, \'Alice\'), \n          (2, \'Bob\'), \n          (3, \'Charlie\')""")\n\nspark.sql("SELECT * FROM iceberg.iceberg_db.table2").show()\n\n'

In [ ]:
# See data in table2

spark.sql("SELECT * FROM table2").show()

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-02-23 19:18:...|
|  1|  Alice|2025-02-25 18:05:...|
|  2|    Bob|2025-02-25 18:05:...|
|  2|    Bob|2025-02-23 19:18:...|
|  3|Charlie|2025-02-25 18:05:...|
|  3|Charlie|2025-02-23 19:18:...|
+---+-------+--------------------+

In [ ]:
# Append data into table2

spark.sql("""
            INSERT INTO table2 
            VALUES
            (1, 'Alice', current_timestamp()),
            (2, 'Bob', current_timestamp()),
            (3, 'Charlie', current_timestamp())
          """)

spark.sql("""DELETE FROM table2 
          WHERE added_at IS NULL
           """)

spark.sql("SELECT * FROM table2").show()

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-02-25 18:05:...|
|  2|    Bob|2025-02-25 18:05:...|
|  3|Charlie|2025-02-25 18:05:...|
|  1|  Alice|2025-02-23 19:18:...|
|  2|    Bob|2025-02-23 19:18:...|
|  3|Charlie|2025-02-23 19:18:...|
+---+-------+--------------------+

In [49]:
# Testing the time travel feature

# x will be the number of minutes ago you want to query the table
x = 1

# Get the timestamp x minutes ago
timestamp_x_minutes_ago = spark.sql(f"SELECT current_timestamp() - INTERVAL '{x}' DAYS").collect()[0][0]

# Query the table for the timestamp x minutes ago
spark.sql(f"""
    SELECT * FROM table2
    FOR SYSTEM_TIME AS OF '{timestamp_x_minutes_ago}'
""").show()

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-02-23 19:18:...|
|  2|    Bob|2025-02-23 19:18:...|
|  3|Charlie|2025-02-23 19:18:...|
|  1|  Alice|2025-02-25 18:05:...|
|  2|    Bob|2025-02-25 18:05:...|
|  3|Charlie|2025-02-25 18:05:...|
+---+-------+--------------------+

In [ ]:
# This command replaces table with a new version containing only some rows from table2 

spark.sql("""
REPLACE TABLE table
USING iceberg
AS 
SELECT *
FROM table2
WHERE DATE(added_at) = '2025-02-23'
""")

DataFrame[]

In [16]:
spark.sql("SELECT * FROM table").show()

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-02-23 19:18:...|
|  2|    Bob|2025-02-23 19:18:...|
|  3|Charlie|2025-02-23 19:18:...|
+---+-------+--------------------+

In [ ]:
# 'Superficial' table description

spark.sql("DESCRIBE TABLE table").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|      id|      int|   NULL|
|    name|   string|   NULL|
|added_at|timestamp|   NULL|
+--------+---------+-------+

In [50]:
# See the history of the table

df = spark.read.format("iceberg").load("iceberg_db.table2.history")
df.show(truncate=False)

+-----------------------+-------------------+-------------------+-------------------+
|made_current_at        |snapshot_id        |parent_id          |is_current_ancestor|
+-----------------------+-------------------+-------------------+-------------------+
|2025-02-23 18:51:24.064|3195098715316441258|NULL               |true               |
|2025-02-23 18:52:03.372|5374994393316461417|3195098715316441258|true               |
|2025-02-23 19:07:34.053|9187256101761608397|5374994393316461417|true               |
|2025-02-23 19:07:38.157|3014219229801966893|9187256101761608397|true               |
|2025-02-23 19:07:40.841|9153823259828413158|3014219229801966893|true               |
|2025-02-23 19:07:54.007|3264605670712922968|9153823259828413158|true               |
|2025-02-23 19:18:46.366|293882809901543937 |3264605670712922968|true               |
|2025-02-23 19:20:23.355|4306225710289109897|293882809901543937 |true               |
|2025-02-25 18:05:57.074|3285014568135250506|4306225710289109897|true               |
|2025-02-25 18:05:57.199|7660619263713434370|3285014568135250506|true               |
|2025-02-27 11:34:07.001|4306425163010503355|7660619263713434370|true               |
+-----------------------+-------------------+-------------------+-------------------+

In [ ]:
# See snapshots of the table, seems like a more detailed version of 'history'

df = spark.read.format("iceberg").load("iceberg_db.table2.snapshots")
df.show(truncate=False)

+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                                          |summary                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2025-02-23 18:51:24.064|3195098715316441258|NULL               |append   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-3195098715316441258-1-435020b2-3f3d-4988-a3a7-7c9c1374e3aa.avro|{spark.app.id -> local-1740331976643, added-data-files -> 3, added-records -> 3, added-files-size -> 1992, changed-partition-count -> 3, total-records -> 3, total-files-size -> 1992, total-data-files -> 3, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740331976643, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}      |
|2025-02-23 18:52:03.372|5374994393316461417|3195098715316441258|append   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-5374994393316461417-1-186322ab-1e0b-45f7-bbac-511ca41d73b7.avro|{spark.app.id -> local-1740331976643, added-data-files -> 3, added-records -> 3, added-files-size -> 1992, changed-partition-count -> 3, total-records -> 6, total-files-size -> 3984, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740331976643, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}      |
|2025-02-23 19:07:34.053|9187256101761608397|5374994393316461417|delete   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-9187256101761608397-1-6fa9bfaf-f852-421e-9549-95b00b1c569c.avro|{spark.app.id -> local-1740333264300, deleted-data-files -> 2, deleted-records -> 2, removed-files-size -> 1328, changed-partition-count -> 1, total-records -> 4, total-files-size -> 2656, total-data-files -> 4, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}|
|2025-02-23 19:07:38.157|3014219229801966893|9187256101761608397|delete   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-3014219229801966893-1-232465cf-2acf-40de-9206-2640431a4acf.avro|{spark.app.id -> local-1740333264300, deleted-data-files -> 2, deleted-records -> 2, removed-files-size -> 1300, changed-partition-count -> 1, total-records -> 2, total-files-size -> 1356, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}|
|2025-02-23 19:07:40.841|9153823259828413158|3014219229801966893|delete   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-9153823259828413158-1-f9bf69df-567b-4f5e-a824-8cb78a8dd8bd.avro|{spark.app.id -> local-1740333264300, deleted-data-files -> 2, deleted-records -> 2, removed-files-size -> 1356, changed-partition-count -> 1, total-records -> 0, total-files-size -> 0, total-data-files -> 0, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}   |
|2025-02-23 19:07:54.007|3264605670712922968|9153823259828413158|append   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-3264605670712922968-1-c4c4bd66-28d9-437a-b15e-85458c3ea739.avro|{spark.app.id -> local-1740333264300, added-data-files -> 3, added-records -> 3, added-files-size -> 1992, changed-partition-count -> 3, total-records -> 3, total-files-size -> 1992, total-data-files -> 3, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}      |
|2025-02-23 19:18:46.366|293882809901543937 |3264605670712922968|append   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-293882809901543937-1-922cce7b-9129-4579-a693-da58effc634f.avro |{spark.app.id -> local-1740333264300, added-data-files -> 3, added-records -> 3, added-files-size -> 2865, changed-partition-count -> 3, total-records -> 6, total-files-size -> 4857, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}      |
|2025-02-23 19:20:23.355|4306225710289109897|293882809901543937 |delete   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-4306225710289109897-1-5608e580-61dd-436e-b10d-3467faaf3cdc.avro|{spark.app.id -> local-1740333264300, deleted-data-files -> 3, deleted-records -> 3, removed-files-size -> 1992, changed-partition-count -> 3, total-records -> 3, total-files-size -> 2865, total-data-files -> 3, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740333264300, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}|
|2025-02-25 18:05:57.074|3285014568135250506|4306225710289109897|append   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-3285014568135250506-1-bd5748c3-0ad3-4266-bbde-6ec9fa00a1df.avro|{spark.app.id -> local-1740503090715, added-data-files -> 3, added-records -> 3, added-files-size -> 2865, changed-partition-count -> 3, total-records -> 6, total-files-size -> 5730, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740503090715, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}      |
|2025-02-25 18:05:57.199|7660619263713434370|3285014568135250506|delete   |spark-warehouse/iceberg/iceberg_db/table2/metadata/snap-7660619263713434370-1-ea6de75f-163d-4669-a5b9-86abeceec0df.avro|{spark.app.id -> local-1740503090715, changed-partition-count -> 0, total-records -> 6, total-files-size -> 5730, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.5.4, app-id -> local-1740503090715, engine-name -> spark, iceberg-version -> Apache Iceberg 1.8.0 (commit c277c2014a1b37fe755cfe37f173b6465bb8cb73)}                                                                           |
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
# Update the table properties to perform row level changes

spark.sql("""
    ALTER TABLE table2 SET TBLPROPERTIES (
        'format-version'='2',
        'write.delete.mode'='merge-on-read',
        'write.update.mode'='merge-on-read',
        'write.merge.mode'='merge-on-read'
    )
""")

DataFrame[]

In [ ]:
# Row level operations

spark.sql('''
          UPDATE table2
          SET name = 'Francesco'
          WHERE id = 1
          ''')

spark.sql("SELECT * FROM table2").show()

+---+---------+--------------------+
| id|     name|            added_at|
+---+---------+--------------------+
|  2|      Bob|2025-02-25 18:05:...|
|  1|Francesco|2025-02-23 19:18:...|
|  1|Francesco|2025-02-25 18:05:...|
|  3|  Charlie|2025-02-25 18:05:...|
|  2|      Bob|2025-02-23 19:18:...|
|  3|  Charlie|2025-02-23 19:18:...|
+---+---------+--------------------+

In [42]:
# See extended description of table properties

spark.sql("DESCRIBE EXTENDED table2").show(truncate=False, n=1000)

+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                                                                                                            |comment|
+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|id                          |int                                                                                                                                                                                                                  |NULL   |
|name                        |string                                                                                                                                                                                                               |NULL   |
|added_at                    |timestamp                                                                                                                                                                                                            |NULL   |
|# Partition Information     |                                                                                                                                                                                                                     |       |
|# col_name                  |data_type                                                                                                                                                                                                            |comment|
|id                          |int                                                                                                                                                                                                                  |NULL   |
|                            |                                                                                                                                                                                                                     |       |
|# Metadata Columns          |                                                                                                                                                                                                                     |       |
|_spec_id                    |int                                                                                                                                                                                                                  |       |
|_partition                  |struct<id:int>                                                                                                                                                                                                       |       |
|_file                       |string                                                                                                                                                                                                               |       |
|_pos                        |bigint                                                                                                                                                                                                               |       |
|_deleted                    |boolean                                                                                                                                                                                                              |       |
|                            |                                                                                                                                                                                                                     |       |
|# Detailed Table Information|                                                                                                                                                                                                                     |       |
|Name                        |iceberg.iceberg_db.table2                                                                                                                                                                                            |       |
|Type                        |MANAGED                                                                                                                                                                                                              |       |
|Location                    |spark-warehouse/iceberg/iceberg_db/table2                                                                                                                                                                            |       |
|Provider                    |iceberg                                                                                                                                                                                                              |       |
|Owner                       |francescogalli                                                                                                                                                                                                       |       |
|Table Properties            |[current-snapshot-id=4306425163010503355,format=iceberg/parquet,format-version=2,write.delete.mode=merge-on-read,write.merge.mode=merge-on-read,write.parquet.compression-codec=zstd,write.update.mode=merge-on-read]|       |
+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+

In [ ]:
# Create new table to test row level operations

spark.sql('''CREATE TABLE iceberg_db.table3 (
    id BIGINT,
    name STRING,
    age INT
) USING iceberg
TBLPROPERTIES (
    'format-version'='2',  -- Iceberg v2 is required for row-level deletes
    'write.delete.mode'='merge-on-read', -- Enables row-level deletes
    'write.update.mode'='merge-on-read', -- Enables row-level updates
    'write.merge.mode'='merge-on-read'   -- Enables merge-on-read behavior
);''').show()

++
||
++
++

In [ ]:
# Append some data into table3

spark.sql('''INSERT INTO table3
          VALUES
(1, 'Alice', 30),
(2, 'Bob', 40),
(3, 'Charlie', 50)
''').show()

++
||
++
++

In [ ]:
# See data in table

spark.sql("SELECT * FROM table3").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 30|
|  2|    Bob| 40|
|  3|Charlie| 50|
+---+-------+---+

In [43]:
# Perform row level operation in table3, update

spark.sql('''
          UPDATE table3
          SET age = 31
          WHERE id = 1
          ''')
spark.sql("SELECT * FROM table3").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  2|    Bob| 40|
|  1|  Alice| 31|
|  3|Charlie| 50|
+---+-------+---+

In [51]:
# Attempt to see table3 changelog (not working)

df = spark.read.format("iceberg").load("iceberg_db.table3.changelog")
df.show(truncate=False)

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view iceberg_db.table3.changelog cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.

In [7]:
# Create a table

spark.sql("""
          CREATE TABLE IF NOT EXISTS test (
          id INT,
          name STRING,
          added_at TIMESTAMP)
          USING iceberg
          PARTITIONED BY (day(added_at))""")

spark.sql("SHOW TABLES").show()

+----------+---------+-----------+
| namespace|tableName|isTemporary|
+----------+---------+-----------+
|iceberg_db|   table2|      false|
|iceberg_db|     test|      false|
|iceberg_db|   table3|      false|
|iceberg_db|    table|      false|
+----------+---------+-----------+

In [8]:
# Append data into test

spark.sql("""
          INSERT INTO iceberg.iceberg_db.test
          VALUES 
          (1, 'Alice', current_timestamp()), 
          (2, 'Bob', current_timestamp()), 
          (3, 'Charlie', current_timestamp())"""
          )

spark.sql("SELECT * FROM iceberg.iceberg_db.test").show()

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-03-05 14:34:...|
|  2|    Bob|2025-03-05 14:34:...|
|  3|Charlie|2025-03-05 14:34:...|
+---+-------+--------------------+

In [ ]:
# Renaming a column 

spark.sql("""
          ALTER TABLE test
          RENAME COLUMN name TO new_name
          """)

spark.sql("SELECT * FROM iceberg.iceberg_db.test").show()

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'RENAME'.(line 2, pos 10)

== SQL ==

          RENAME COLUMN test.new_name TO name
----------^^^

In [18]:
spark.sql(f"ALTER TABLE test ADD COLUMN age STRING")

spark.sql("SELECT * FROM iceberg.iceberg_db.test").show()

+---+-------+--------------------+--------+----+
| id|   name|            added_at|birthday| age|
+---+-------+--------------------+--------+----+
|  1|  Alice|2025-03-05 14:34:...|    NULL|NULL|
|  2|    Bob|2025-03-05 14:34:...|    NULL|NULL|
|  3|Charlie|2025-03-05 14:34:...|    NULL|NULL|
+---+-------+--------------------+--------+----+

In [22]:
df = spark.read.format("iceberg").load("iceberg_db.test.history")
df.show(truncate=False)

+-----------------------+-------------------+---------+-------------------+
|made_current_at        |snapshot_id        |parent_id|is_current_ancestor|
+-----------------------+-------------------+---------+-------------------+
|2025-03-05 14:34:12.473|1156343851529063989|NULL     |true               |
+-----------------------+-------------------+---------+-------------------+

In [6]:
df = spark.sql(f"SELECT * FROM iceberg.iceberg_db.test.history").show()
df

+--------------------+-------------------+---------+-------------------+
|     made_current_at|        snapshot_id|parent_id|is_current_ancestor|
+--------------------+-------------------+---------+-------------------+
|2025-03-05 14:34:...|1156343851529063989|     NULL|               true|
+--------------------+-------------------+---------+-------------------+

In [57]:
spark.sql("""CALL iceberg.system.create_changelog_view(
  table => 'iceberg_db.table3'
)""").show()

#options => map('start-snapshot-id','1','end-snapshot-id', '2')

+----------------+
|  changelog_view|
+----------------+
|`table3_changes`|
+----------------+

In [56]:
spark.sql("SELECT * FROM iceberg_db.table3.snapshots").show()

+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|          parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|2025-02-27 11:30:...|6029896344713609890|               NULL|   append|spark-warehouse/i...|{spark.app.id -> ...|
|2025-02-27 11:51:...|3798345041391162531|6029896344713609890|overwrite|spark-warehouse/i...|{spark.app.id -> ...|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+

In [60]:
spark.sql("""
	SELECT * FROM table3_changes 
	WHERE _change_type != 'Delete'
""").show()

UnsupportedOperationException: Delete files are currently not supported in changelog scans

In [13]:
spark.sql("SELECT DISTINCT _change_type FROM table3_changes").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `table3_changes` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 34;
'Distinct
+- 'Project ['_change_type]
   +- 'UnresolvedRelation [table3_changes], [], false

In [21]:
spark.sql("""
          CREATE TABLE IF NOT EXISTS changelog_testing (
          id INT,
          name STRING,
          added_at TIMESTAMP)
          USING iceberg
          PARTITIONED BY (day(added_at))""")

"""spark.sql('''INSERT INTO changelog_testing
          VALUES
(1, 'Alice', current_timestamp()),
(2, 'Bob', current_timestamp()),
(3, 'Charlie', current_timestamp())
''')"""

spark.sql("SELECT * FROM iceberg.iceberg_db.changelog_testing").show()

+------+-------+--------------------+
|id_new|  name7|            added_at|
+------+-------+--------------------+
|     4|  David|2025-03-10 14:38:...|
|     1|  Alice|2025-03-10 13:20:...|
|     2|    Bob|2025-03-10 13:20:...|
|     3|Charlie|2025-03-10 13:20:...|
|     5|Richard|2025-03-10 14:40:...|
+------+-------+--------------------+

In [ ]:
# Change the name of the 'name' column into 'new_name'

spark.sql("""ALTER TABLE changelog_testing RENAME COLUMN name TO new_name""")

spark.sql("""CALL iceberg.system.create_changelog_view(
  table => 'iceberg_db.changelog_testing'
)""").show()

spark.sql("SELECT * FROM changelog_testing_changes").show()

+--------------------+
|      changelog_view|
+--------------------+
|`changelog_testin...|
+--------------------+

+---+--------+--------------------+------------+---------------+-------------------+
| id|new_name|            added_at|_change_type|_change_ordinal|_commit_snapshot_id|
+---+--------+--------------------+------------+---------------+-------------------+
|  1|   Alice|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|  2|     Bob|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|  3| Charlie|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
+---+--------+--------------------+------------+---------------+-------------------+

In [68]:
spark.sql("""ALTER TABLE changelog_testing RENAME COLUMN new_name TO name3""")

spark.sql("""CALL iceberg.system.create_changelog_view(
  table => 'iceberg_db.changelog_testing'
)""").show()

spark.sql("SELECT * FROM changelog_testing_changes").show()

+--------------------+
|      changelog_view|
+--------------------+
|`changelog_testin...|
+--------------------+

+---+-------+--------------------+------------+---------------+-------------------+
| id|  name3|            added_at|_change_type|_change_ordinal|_commit_snapshot_id|
+---+-------+--------------------+------------+---------------+-------------------+
|  1|  Alice|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|  2|    Bob|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|  3|Charlie|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
+---+-------+--------------------+------------+---------------+-------------------+

In [22]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.metadata_log_entries").show()

+--------------------+--------------------+-------------------+----------------+----------------------+
|           timestamp|                file| latest_snapshot_id|latest_schema_id|latest_sequence_number|
+--------------------+--------------------+-------------------+----------------+----------------------+
|2025-03-10 13:20:...|spark-warehouse/i...|               NULL|            NULL|                  NULL|
|2025-03-10 13:20:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:24:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:25:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:38:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:38:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 14:36:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 14:38:...|spark-warehouse/i...|5657999723248319641|               5|                     2|
|2025-03-10 14:39:...|spark-warehouse/i...|5657999723248319641|               5|                     2|
|2025-03-10 14:40:...|spark-warehouse/i...|3984517976872106574|               6|                     3|
|2025-03-10 17:15:...|spark-warehouse/i...|3984517976872106574|               6|                     3|
+--------------------+--------------------+-------------------+----------------+----------------------+

In [112]:
spark.sql("""ALTER TABLE changelog_testing RENAME COLUMN name6 TO name7""")

DataFrame[]

In [113]:
spark.sql("INSERT INTO changelog_testing VALUES (5, 'Richard', current_timestamp())")
spark.sql("SELECT * FROM iceberg_db.changelog_testing").show()

+---+-------+--------------------+
| id|  name7|            added_at|
+---+-------+--------------------+
|  5|Richard|2025-03-10 14:40:...|
|  4|  David|2025-03-10 14:38:...|
|  1|  Alice|2025-03-10 13:20:...|
|  2|    Bob|2025-03-10 13:20:...|
|  3|Charlie|2025-03-10 13:20:...|
+---+-------+--------------------+

In [25]:
spark.sql("""SELECT * FROM iceberg_db.changelog_testing FOR SYSTEM_TIME AS OF '2025-03-10 14:41:00'""").show()

+---+-------+--------------------+
| id|  name7|            added_at|
+---+-------+--------------------+
|  4|  David|2025-03-10 14:38:...|
|  5|Richard|2025-03-10 14:40:...|
|  1|  Alice|2025-03-10 13:20:...|
|  2|    Bob|2025-03-10 13:20:...|
|  3|Charlie|2025-03-10 13:20:...|
+---+-------+--------------------+

In [88]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing").show()

+---+-------+--------------------+
| id|  name5|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-03-10 13:20:...|
|  2|    Bob|2025-03-10 13:20:...|
|  3|Charlie|2025-03-10 13:20:...|
+---+-------+--------------------+

In [99]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.refs").show()

+----+------+-------------------+-----------------------+---------------------+----------------------+
|name|  type|        snapshot_id|max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+----+------+-------------------+-----------------------+---------------------+----------------------+
|main|BRANCH|2510292383777452097|                   NULL|                 NULL|                  NULL|
+----+------+-------------------+-----------------------+---------------------+----------------------+

In [101]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing VERSION AS OF 2510292383777452097").show()
#SELECT * FROM prod.db.table.`tag_historical-snapshot`;

+---+-------+--------------------+
| id|   name|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-03-10 13:20:...|
|  2|    Bob|2025-03-10 13:20:...|
|  3|Charlie|2025-03-10 13:20:...|
+---+-------+--------------------+

In [119]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.snapshots").show()

+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|          parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|2025-03-10 13:20:...|2510292383777452097|               NULL|   append|spark-warehouse/i...|{spark.app.id -> ...|
|2025-03-10 14:38:...|5657999723248319641|2510292383777452097|   append|spark-warehouse/i...|{spark.app.id -> ...|
|2025-03-10 14:40:...|3984517976872106574|5657999723248319641|   append|spark-warehouse/i...|{spark.app.id -> ...|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+

In [151]:
df = spark.sql("SELECT file FROM iceberg_db.changelog_testing.metadata_log_entries")
data = df.toPandas().to_dict(orient="records")
data

[{'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v1.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v2.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v3.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v4.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v5.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v6.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v7.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v8.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v9.metadata.json'},
 {'file': 'spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v10.metadata.json'}]

In [10]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.history").show()

AnalysisException: [REQUIRES_SINGLE_PART_NAMESPACE] spark_catalog requires a single-part namespace, but got `iceberg_db`.`changelog_testing`.

In [167]:
df = spark.read.json("spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v1.metadata.json")
df

DataFrame[_corrupt_record: string]

In [ ]:
metadata_files = [
    row["file"] for row in spark.sql("SELECT file FROM iceberg_db.changelog_testing.metadata_log_entries").collect()
]

for file in metadata_files:
    df = spark.read.json(f"spark-warehouse/{file}")
    print(f"Schema in {file}:")
    df.select("schemas").show(truncate=False)


df = spark.read.json("spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v1.metadata.json")
df

DataFrame[_corrupt_record: string]

In [ ]:
import json

# The last version of the table will have information about ALL PAST SCHEMAS
# The last version number will be stored in the version-hint.text file
last_version_path = "spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/version-hint.text"
with open(last_version_path, "r") as f:
    last_version = f.read()

metadata_path = f"spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v{last_version}.metadata.json"

# Open and parse the metadata JSON file
with open(metadata_path, "r") as f:
    metadata = json.load(f)

# Print ALL available schema versions
print("Schemas in Metadata File:")
for schema in metadata.get("schemas", []):
    print(json.dumps(schema, indent=4))

Schemas in Metadata File:
{
    "type": "struct",
    "schema-id": 0,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 1,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "new_name",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 2,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name3",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 3,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name4",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 4,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name5",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 5,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name6",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}
{
    "type": "struct",
    "schema-id": 6,
    "fields": [
        {
            "id": 1,
            "name": "id",
            "required": false,
            "type": "int"
        },
        {
            "id": 2,
            "name": "name7",
            "required": false,
            "type": "string"
        },
        {
            "id": 3,
            "name": "added_at",
            "required": false,
            "type": "timestamptz"
        }
    ]
}

In [312]:
spark.sql("SELECT file FROM iceberg_db.changelog_testing.metadata_log_entries").show(truncate=False)

+-------------------------------------------------------------------------------+
|file                                                                           |
+-------------------------------------------------------------------------------+
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v1.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v2.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v3.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v4.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v5.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v6.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v7.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v8.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v9.metadata.json |
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v10.metadata.json|
|spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/v11.metadata.json|
+-------------------------------------------------------------------------------+

In [314]:
last_version_path = "spark-warehouse/iceberg/iceberg_db/changelog_testing/metadata/version-hint.text"
with open(last_version_path, "r") as f:
        last_version = f.read()
        print(last_version)

11

In [5]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing").show()

+------+-------+--------------------+
|id_new|  name7|            added_at|
+------+-------+--------------------+
|     1|  Alice|2025-03-10 13:20:...|
|     2|    Bob|2025-03-10 13:20:...|
|     3|Charlie|2025-03-10 13:20:...|
|     4|  David|2025-03-10 14:38:...|
|     5|Richard|2025-03-10 14:40:...|
+------+-------+--------------------+

In [47]:
import json
column_name = input("Enter the name of the column you would like to retrieve: ")

columns_set = set(spark.table("employee_db.employee").columns)

# Chec if the column exists in current schema, if it does simply retireve it
if column_name in columns_set:
    query = spark.sql(f"SELECT `{column_name}` FROM employee_db.employee")
    query.show()

# If it doesn't, we look at all past schema versions of the table to check if there is a column with this name
else:
    print(f"Column '{column_name}' does not exist in the current table.")

    # Now we look for a column with this name in previous schema versions
    last_version_path = "spark-warehouse/iceberg/employee_db/employee/metadata/version-hint.text"
    with open(last_version_path, "r") as f:
        last_version = f.read()

    metadata_path = f"spark-warehouse/iceberg/employee_db/employee/metadata/v{last_version}.metadata.json"

    # Load the JSON file with the metadata of the LAST VERSION OF THE TABLE, which will contain information about ALL PAST SCHEMAS
    with open(metadata_path, "r") as f:
        metadata = json.load(f)

    column_name_versions = set()
    schema_id = 0
    # Instantiating the id of the column name we care about
    id_of_interest = None

    for schema in metadata.get("schemas", []):
        schema_id = max(schema_id, schema['schema-id'])
        for field in schema.get('fields', []):
            column_name_versions.add(field['name'])
            if field['name'] == column_name:
                # Remembering the id of the column the user looked for, so that we can retrieve it later
                id_of_interest = field['id']


    if column_name in column_name_versions:
        last_schema_fields = metadata.get("schemas")[schema_id]['fields']
        # We are looking for the name of the column that the user looked for in the LAST SCHEMA VERSION
        last_schema_fields_of_interest = [field for field in last_schema_fields if field['id'] == id_of_interest]
        print(f"Column '{column_name}' has existed in the past. The current column of this table is named {last_schema_fields_of_interest[0]['name']}'.")
        query = spark.sql(f"SELECT `{last_schema_fields_of_interest[0]['name']}` FROM employee_db.employee")
        query.show()
    else:
        print("Could not find the column in neither the current table schema nor the schema history.")

Column 'Phone' does not exist in the current table.
Column 'Phone' has existed in the past. The current column of this table is named Phone number'.
+--------------------+
|        Phone number|
+--------------------+
|  (971)643-6089x9160|
|+1-114-355-1841x7...|
|          9017807728|
|+1-607-333-9911x5...|
|          3739847538|
|001-314-829-5014x...|
|       (314)591-7413|
|               -7199|
|   166-234-6882x7457|
|  (389)824-3204x8287|
|  (285)029-1604x5466|
|   (233)811-1749x417|
|       (831)049-2030|
|          7788378816|
|  990-374-0521x33156|
|          2534420151|
|   355-863-2311x6315|
|   (566)667-8566x109|
|          4735530004|
|001-940-671-0693x345|
+--------------------+
only showing top 20 rows

In [ ]:
spark.sql("SELECT name FROM iceberg_db.changelog_testing").show()

In [32]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing").show()

+------+-------+--------------------+
|id_new|  name7|            added_at|
+------+-------+--------------------+
|     4|  David|2025-03-10 14:38:...|
|     5|Richard|2025-03-10 14:40:...|
|     1|  Alice|2025-03-10 13:20:...|
|     2|    Bob|2025-03-10 13:20:...|
|     3|Charlie|2025-03-10 13:20:...|
+------+-------+--------------------+

In [34]:
spark.sql("SELECT * FROM iceberg_db.table2").show()

+---+---------+--------------------+
| id|     name|            added_at|
+---+---------+--------------------+
|  2|      Bob|2025-02-23 19:18:...|
|  3|  Charlie|2025-02-23 19:18:...|
|  1|Francesco|2025-02-23 19:18:...|
|  1|Francesco|2025-02-25 18:05:...|
|  2|      Bob|2025-02-25 18:05:...|
|  3|  Charlie|2025-02-25 18:05:...|
+---+---------+--------------------+

In [307]:
spark.sql("ALTER TABLE changelog_testing RENAME COLUMN id TO id_new")
spark.sql("SELECT * FROM iceberg_db.changelog_testing").show()

+------+-------+--------------------+
|id_new|  name7|            added_at|
+------+-------+--------------------+
|     5|Richard|2025-03-10 14:40:...|
|     4|  David|2025-03-10 14:38:...|
|     1|  Alice|2025-03-10 13:20:...|
|     2|    Bob|2025-03-10 13:20:...|
|     3|Charlie|2025-03-10 13:20:...|
+------+-------+--------------------+

In [4]:
spark.sql("""CALL iceberg.system.create_changelog_view(
  table => 'iceberg_db.changelog_testing'
  )""").show(truncate=False)

+---------------------------+
|changelog_view             |
+---------------------------+
|`changelog_testing_changes`|
+---------------------------+

In [5]:
spark.sql("SELECT * FROM changelog_testing_changes").show()

+------+-------+--------------------+------------+---------------+-------------------+
|id_new|  name7|            added_at|_change_type|_change_ordinal|_commit_snapshot_id|
+------+-------+--------------------+------------+---------------+-------------------+
|     1|  Alice|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|     2|    Bob|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|     3|Charlie|2025-03-10 13:20:...|      INSERT|              0|2510292383777452097|
|     4|  David|2025-03-10 14:38:...|      INSERT|              1|5657999723248319641|
|     5|Richard|2025-03-10 14:40:...|      INSERT|              2|3984517976872106574|
+------+-------+--------------------+------------+---------------+-------------------+

In [27]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.snapshots").show()

+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|          parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|2025-03-10 13:20:...|2510292383777452097|               NULL|   append|spark-warehouse/i...|{spark.app.id -> ...|
|2025-03-10 14:38:...|5657999723248319641|2510292383777452097|   append|spark-warehouse/i...|{spark.app.id -> ...|
|2025-03-10 14:40:...|3984517976872106574|5657999723248319641|   append|spark-warehouse/i...|{spark.app.id -> ...|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+

In [31]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing VERSION AS OF 5657999723248319641").show()

+---+-------+--------------------+
| id|  name6|            added_at|
+---+-------+--------------------+
|  1|  Alice|2025-03-10 13:20:...|
|  2|    Bob|2025-03-10 13:20:...|
|  3|Charlie|2025-03-10 13:20:...|
|  4|  David|2025-03-10 14:38:...|
+---+-------+--------------------+

In [26]:
spark.sql("SELECT * FROM iceberg_db.changelog_testing.metadata_log_entries").show()

+--------------------+--------------------+-------------------+----------------+----------------------+
|           timestamp|                file| latest_snapshot_id|latest_schema_id|latest_sequence_number|
+--------------------+--------------------+-------------------+----------------+----------------------+
|2025-03-10 13:20:...|spark-warehouse/i...|               NULL|            NULL|                  NULL|
|2025-03-10 13:20:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:24:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:25:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:38:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 13:38:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 14:36:...|spark-warehouse/i...|2510292383777452097|               0|                     1|
|2025-03-10 14:38:...|spark-warehouse/i...|5657999723248319641|               5|                     2|
|2025-03-10 14:39:...|spark-warehouse/i...|5657999723248319641|               5|                     2|
|2025-03-10 14:40:...|spark-warehouse/i...|3984517976872106574|               6|                     3|
|2025-03-10 17:15:...|spark-warehouse/i...|3984517976872106574|               6|                     3|
+--------------------+--------------------+-------------------+----------------+----------------------+

In [49]:
# TESTING CODE, NOT ACTUAL CODE

# The last version of the table will have information about ALL PAST SCHEMAS
# The last version number will be stored in the version-hint.text file
last_version_path = "spark-warehouse/iceberg/employee_db/employee/metadata/version-hint.text"
with open(last_version_path, "r") as f:
    last_version = f.read()

metadata_path = f"spark-warehouse/iceberg/employee_db/employee/metadata/v{last_version}.metadata.json"

# Open and parse the metadata JSON file
with open(metadata_path, "r") as f:
    metadata = json.load(f)

# Print all the names that the column 'name' has had across all schema versions
column_name_versions = set()
schema_id = 0
id_of_interest = None

for schema in metadata.get("schemas", []):
    schema_id = max(schema_id, schema['schema-id'])
    for field in schema.get('fields', []):
        column_name_versions.add(field['name'])
        if field['name'] == 'name':
                id_of_interest = field['id']

column_name_versions
# Problem: there is no recollection of WHEN THE COLUMNS WERE NAMED AS SUCH, and when the schema changed.
# Do we care? 

last_schema_fields = metadata.get("schemas")[schema_id]['fields']
last_schema_fields_of_interest = [field for field in last_schema_fields if field['id'] == 2]
print(last_schema_fields_of_interest[0]['name'])

First Name

In [10]:
# Loading the employee 1000x dataset
df = pd.read_csv('Employee 1000x.csv')

# Converting the 'Date of birth' column to datetime format
df['Date of birth'] = pd.to_datetime(df['Date of birth'], format='%d-%m-%y', errors='coerce').dt.date

# Replacing the year of birth if it is in the future (I was getting years of birth like 2059)
df['Date of birth'] = df['Date of birth'].apply(lambda x: x.replace(year=x.year - 100) if x and x.year > pd.Timestamp.now().year else x)

# Creating a Spark DataFrame from the pandas DataFrame
spark_df = spark.createDataFrame(df)
spark_df.show()

+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name| Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|    1|      Sara|   Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|   2021-08-17|Editor, commissio...|
|    2|    Alisha|    Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|   1969-06-28|  Broadcast engineer|
|    3| Gwendolyn|  Sheppard|  Male|mercadojonathan@e...|          9017807728|   2015-09-25|    Industrial buyer|
|    4|  Kristine|    Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|   1978-07-27|Multimedia specia...|
|    5|     Bobby|   Pittman|Female|blevinsmorgan@exa...|          3739847538|   1989-11-17|Planning and deve...|
|    6|    Calvin|    Ramsey|Female|loretta85@example...|001-314-829-5014x...|   2017-08-31|Therapeutic radio...|
|    7|    Collin|   Allison|  Male| yvaughn@example.net|       (314)591-7413|   1979-11-21|       Administrator|
|    8|  Nicholas|    Branch|  Male|greerjimmy@exampl...|               -7199|   2006-01-21|   Fisheries officer|
|    9|      Emma|  Robinson|Female|charleshiggins@ex...|   166-234-6882x7457|   2009-03-19|       Haematologist|
|   10|     Pedro|   Cordova|  Male|leslie08@example.com|  (389)824-3204x8287|   2008-06-17|      Phytotherapist|
|   11|      Jean|   Aguilar|  Male|raymond24@example...|  (285)029-1604x5466|   1978-10-28|Engineer, control...|
|   12|    Dwayne|Hutchinson|Female|preston28@example...|   (233)811-1749x417|   2014-06-22|Teacher, early ye...|
|   13|   Bradley| Velazquez|  Male|joycejay@example.net|       (831)049-2030|   2006-12-23|       Airline pilot|
|   14|  Samantha|      Moon|  Male|wesleymullins@exa...|          7788378816|   1978-06-21|Intelligence analyst|
|   15|   Clayton|  Erickson|  Male|  nterry@example.net|  990-374-0521x33156|   1959-02-07|    Paediatric nurse|
|   16|   Bradley|    Bright|Female|devinherman@examp...|          2534420151|   1992-01-27|Fitness centre ma...|
|   17|    Ernest|   Maynard|  Male|tommywoodard@exam...|   355-863-2311x6315|   2017-11-23|Accountant, chart...|
|   18|       Joe|    Larsen|Female|brianna43@example...|   (566)667-8566x109|   2009-06-18|Geographical info...|
|   19|    Alfred|   Barrera|Female|kristina40@exampl...|          4735530004|   2024-11-13|Administrator, ch...|
|   20|       Jon|    Wagner|Female|meagan99@example.org|001-940-671-0693x345|   1934-01-06|Engineer, aeronau...|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [4]:
spark_df.dtypes

[('Index', 'bigint'),
 ('First Name', 'string'),
 ('Last Name', 'string'),
 ('Sex', 'string'),
 ('Email', 'string'),
 ('Phone', 'string'),
 ('Date of birth', 'date'),
 ('Job Title', 'string')]

In [11]:
spark_df.createOrReplaceTempView("Employee1000")
spark.sql("CREATE DATABASE IF NOT EXISTS iceberg.employee_db")
spark.sql("USE iceberg.employee_db")

spark.sql("""
          CREATE TABLE IF NOT EXISTS
          employee
          USING iceberg
          AS SELECT * FROM Employee1000
          """).show()

spark.sql("SELECT * FROM iceberg.employee_db.employee LIMIT 20").show()

++
||
++
++

+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name| Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|    1|      Sara|   Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|   2021-08-17|Editor, commissio...|
|    2|    Alisha|    Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|   1969-06-28|  Broadcast engineer|
|    3| Gwendolyn|  Sheppard|  Male|mercadojonathan@e...|          9017807728|   2015-09-25|    Industrial buyer|
|    4|  Kristine|    Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|   1978-07-27|Multimedia specia...|
|    5|     Bobby|   Pittman|Female|blevinsmorgan@exa...|          3739847538|   1989-11-17|Planning and deve...|
|    6|    Calvin|    Ramsey|Female|loretta85@example...|001-314-829-5014x...|   2017-08-31|Therapeutic radio...|
|    7|    Collin|   Allison|  Male| yvaughn@example.net|       (314)591-7413|   1979-11-21|       Administrator|
|    8|  Nicholas|    Branch|  Male|greerjimmy@exampl...|               -7199|   2006-01-21|   Fisheries officer|
|    9|      Emma|  Robinson|Female|charleshiggins@ex...|   166-234-6882x7457|   2009-03-19|       Haematologist|
|   10|     Pedro|   Cordova|  Male|leslie08@example.com|  (389)824-3204x8287|   2008-06-17|      Phytotherapist|
|   11|      Jean|   Aguilar|  Male|raymond24@example...|  (285)029-1604x5466|   1978-10-28|Engineer, control...|
|   12|    Dwayne|Hutchinson|Female|preston28@example...|   (233)811-1749x417|   2014-06-22|Teacher, early ye...|
|   13|   Bradley| Velazquez|  Male|joycejay@example.net|       (831)049-2030|   2006-12-23|       Airline pilot|
|   14|  Samantha|      Moon|  Male|wesleymullins@exa...|          7788378816|   1978-06-21|Intelligence analyst|
|   15|   Clayton|  Erickson|  Male|  nterry@example.net|  990-374-0521x33156|   1959-02-07|    Paediatric nurse|
|   16|   Bradley|    Bright|Female|devinherman@examp...|          2534420151|   1992-01-27|Fitness centre ma...|
|   17|    Ernest|   Maynard|  Male|tommywoodard@exam...|   355-863-2311x6315|   2017-11-23|Accountant, chart...|
|   18|       Joe|    Larsen|Female|brianna43@example...|   (566)667-8566x109|   2009-06-18|Geographical info...|
|   19|    Alfred|   Barrera|Female|kristina40@exampl...|          4735530004|   2024-11-13|Administrator, ch...|
|   20|       Jon|    Wagner|Female|meagan99@example.org|001-940-671-0693x345|   1934-01-06|Engineer, aeronau...|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+

In [15]:
spark.sql("DESCRIBE employee").show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|        Index|   bigint|   NULL|
|   First Name|   string|   NULL|
|    Last Name|   string|   NULL|
|          Sex|   string|   NULL|
|        Email|   string|   NULL|
|        Phone|   string|   NULL|
|Date of birth|     date|   NULL|
|    Job Title|   string|   NULL|
+-------------+---------+-------+

In [28]:
spark.sql("SELECT * FROM employee WHERE YEAR(`Date of birth`) < 1927").show()

+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name| Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|  128|      Glen|  Hamilton|  Male|nashantonio@examp...|+1-478-796-8374x9...|   1926-04-14|Special education...|
|  155|     Jamie|     Riggs|  Male| pmalone@example.net|   (185)304-1686x938|   1926-01-09|Conservation offi...|
|  161|    Hunter|    Romero|Female|austinruben@examp...|   977-555-6372x3075|   1926-08-21|Therapeutic radio...|
|  209|   Maxwell|     Floyd|Female|fryejoanne@exampl...|          1197827255|   1926-01-24|           Osteopath|
|  258|     Diana|    Travis|Female|bishopkayla@examp...|   771-351-1656x3614|   1926-07-12|Volunteer coordin...|
|  426|      Sean|   Shelton|Female|mccarthyvernon@ex...|   585-660-0047x2644|   1926-05-19|Producer, televis...|
|  607|    Sherri|    Conrad|Female| sacosta@example.net|   (546)262-2628x488|   1926-08-25|Copywriter, adver...|
|  737|     Marco|    Suarez|Female|yeseniawilliamson...|001-986-846-4146x...|   1926-02-24|Human resources o...|
|  745|    Curtis|    Reeves|  Male|marvin05@example.com|          6170858046|   1926-07-10| Art gallery manager|
|  765|   Richard|   Mathews|  Male|banksluke@example...|    585-053-2252x621|   1926-04-21|Database administ...|
|  786|    Deanna|    Vaughn|  Male|raymckee@example.com|        422.969.6683|   1926-01-13|        Cartographer|
|  796|  Angelica|Washington|Female| wbenton@example.org|        966.783.0853|   1926-09-12|Health and safety...|
|  811|     Wanda|    Farley|Female|benjamincombs@exa...|          1452727936|   1926-05-21|Museum/gallery ex...|
|  891|     Danny| Dominguez|  Male|mfischer@example.net|          6914840287|   1926-05-13|  Physicist, medical|
| 1140|    Gloria|    Suarez|  Male|galvankatherine@e...|  (574)162-2018x8589|   1926-09-15| Designer, furniture|
| 1489|     Lance|    Gentry|Female| ggraham@example.net| +1-308-764-9859x758|   1926-01-16|  Editor, film/video|
| 1634|   Caitlyn|     Huang|  Male| lhebert@example.com| +1-134-672-5217x151|   1926-04-11|        Tour manager|
| 1696|      John|  Valencia|  Male|  neil75@example.org|        027.446.8157|   1926-12-04|   Probation officer|
| 1874|    Meghan| Stevenson|  Male|martha36@example.org|  (908)499-5788x5024|   1926-07-09|Sales promotion a...|
| 1909|     Katie|     Morse|Female|guzmanjoyce@examp...|001-331-630-4325x...|   1926-04-12|Secondary school ...|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [36]:
spark.sql("ALTER TABLE employee_db.employee RENAME COLUMN Phone TO `Phone number`")

DataFrame[]

In [50]:
spark.sql("SELECT * FROM employee_db.employee.metadata_log_entries").show()

+--------------------+--------------------+-------------------+----------------+----------------------+
|           timestamp|                file| latest_snapshot_id|latest_schema_id|latest_sequence_number|
+--------------------+--------------------+-------------------+----------------+----------------------+
|2025-03-26 15:15:...|spark-warehouse/i...|1563362177603208424|               0|                     1|
|2025-03-26 15:28:...|spark-warehouse/i...|1563362177603208424|               0|                     1|
+--------------------+--------------------+-------------------+----------------+----------------------+

In [51]:
spark.sql("SELECT * FROM employee_db.employee.snapshots").show()

+--------------------+-------------------+---------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+---------+---------+--------------------+--------------------+
|2025-03-26 15:15:...|1563362177603208424|     NULL|   append|spark-warehouse/i...|{spark.app.id -> ...|
+--------------------+-------------------+---------+---------+--------------------+--------------------+

In [77]:
table_name = "employee"

last_version_path = f"spark-warehouse/iceberg/employee_db/{table_name}/metadata/version-hint.text"
with open(last_version_path, "r") as f:
    last_version = f.read()
metadata_path = f"spark-warehouse/iceberg/employee_db/{table_name}/metadata/v{last_version}.metadata.json"
with open(metadata_path, "r") as f:
    metadata = json.load(f)

column_name_versions = set()
schema_id = 0
# Instantiating the id of the column name we care about
id_of_interest = 2


column_info = metadata.get('schemas')[-1].get('fields')
column_name = column_info[id_of_interest - 1].get('name')
print(column_name)

First Name

In [82]:
spark.sql(f"SELECT * FROM iceberg.employee_db.employee WHERE `First Name` = 'Sarah'").show()

+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name| Last Name|   Sex|               Email|        Phone number|Date of birth|           Job Title|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+
|  146|     Sarah|  Humphrey|Female|tammie97@example.org| (135)381-5257x34881|   2007-08-03|Conservator, muse...|
|  160|     Sarah|     Huber|Female|wilkersonlucas@ex...|        893.355.7289|   2021-05-20|Chartered managem...|
| 2436|     Sarah|  Franklin|Female|connor73@example.net|  189.043.5346x35696|   1960-04-17|           Ecologist|
| 2464|     Sarah|    Church|  Male|   vbond@example.com|001-224-972-5823x...|   1942-10-31|  Broadcast engineer|
| 2661|     Sarah|    Lowery|  Male|atkinscheryl@exam...|               -4781|   2002-03-20|Diplomatic Servic...|
| 4759|     Sarah|     Nixon|  Male|candice04@example...| +1-364-324-2704x270|   1996-04-02|       Tax inspector|
| 5073|     Sarah|  Chambers|Female|  yhines@example.org|        377-829-0002|   1931-05-17| Information officer|
| 5299|     Sarah|     Villa|Female|joanne53@example.net|+1-762-421-4434x5...|   1996-03-17|Management consul...|
| 5354|     Sarah|    Mooney|  Male|denisehammond@exa...|    016.903.3443x547|   1986-06-08| Medical illustrator|
| 7375|     Sarah|   Wheeler|Female|lynchgavin@exampl...|001-173-245-8966x...|   2014-08-18|  Field seismologist|
| 8491|     Sarah|      Mann|Female|fmcdaniel@example...|001-296-700-4121x233|   1976-03-07|Television camera...|
| 9863|     Sarah|      Ryan|  Male|ufletcher@example...|        439.877.4049|   1963-07-22|Medical technical...|
| 9974|     Sarah|Williamson|Female|bryankirk@example...|       (162)191-6599|   1931-08-05|Customer service ...|
+-----+----------+----------+------+--------------------+--------------------+-------------+--------------------+